
body {
    background-color: #f1e9e7;
    font-family: 'Courier New', Courier, monospace;
  }
  
  h1 {
    color: #0a0a0a;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  h2 {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  button {
    background-color: #9bbbdd; /* Primary Blue */
    color: #FFFFFF; /* White text */
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 48px
    
    
}

/* Hover effect */
button:hover {
    background-color: #527294; /* Darker Blue */
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4); /* Blue shadow */
}
input:hover {
  background-color: #527294; /* Darker Blue */
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4); /* Blue shadow */
}
input {
  background-color: #9bbbdd; /* Primary Blue */
  color: #FFFFFF; /* White text */
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}



